<ul>
  <li *ngFor="let event of events">
    <accordion>
      <accordion-group #group>
        <div accordion-heading>
          <!-- Oh boi dem pipes do work <3 -->
          <h5>{{event.name}} / When? -> {{event.date_begin | date:'longDate'}}</h5>
          <i class="pull-right float-xs-right glyphicon"
                    [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}">
          </i>
        </div>
        <div>
            Hour -> {{event.date_begin | date:'shortTime'}}
            Description -> {{event.description}}
        </div>
        <br/>
        <div class="btn-group">
          <label class="btn btn-primary">Editar</label>
          <label class="btn btn-danger" (click)="removeEvent()">Eliminar</label>
        </div>
      </accordion-group>
    </accordion>
  </li>
</ul>
