.main {
    background-color:#85D9BF;
    color: white;
}
.imgcontainer {
    background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAhCAAAAJDVkYjU3OWM0LTZlODktNDljZC1hNWI5LThmYjEyYzNkNTE5NA.png');
}
a {
  text-decoration: none;
}

.margen {
  margin-bottom: 10px;
}
