<!-- Login -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center">Welcome to Endeev!</h1>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input [(ngModel)]="email" type="text" class="form-control input-lg" placeholder="Username"/>
      </div>

      <div class="form-group">
        <input [(ngModel)]="pswrd" type="password" class="form-control input-lg" placeholder="Password"/>
      </div>
      <button type="button" class="btn btn-primary btn-block margen" value="Login" (click)="log(email, pswrd)">Log in</button>
      <a [routerLink]="['/home']"><button type="button" class="btn btn-success btn-large btn-block"  value="Hacker">Hackerman!</button></a>
      <span class="pull-left btn btn-default"><a href="#">Register</a> <a href="#" btn btn-default> Forgot Password</a></span>

      <!-- Alert Error -->
      <div *ngIf="login_flag" class="alert alert-danger" role="alert">
        <strong> Failed </strong> Username or Password Incorrect
      </div>

    </div>
  </div>
</div>
