<div class="main">
  <h1>Log in</h1>
  <div class="imgcontainer">
   
  </div>

  <div class="container">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>

    <button type="submit" class=" btn btn-info">Login</button>
    <button type="button" class="btn btn-cancel">Cancel</button>
    <!-- Ilegalityyy kind testing routing -->
    <a [routerLink]="['/menu']"><button type="submit" class=" btn btn-success">Hackerman3000</button></a>
    <input type="checkbox" checked="checked"> Remember me?<br/>
    <span class="psw">Forgot <a href="#">password?</a></span>

  </div>
</div>
