<div id="Sebas" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

<div class="card hovercard">
  <div class="cardheader" style="background-image: url(/media/card/sebasfondo.png);"></div>
  <div class="avatar">
  <img alt="" src="/media/card/seba.PNG">
  </div>
  <div class="info">
    <div class="title">
      <a target="_blank" href="http://scripteden.com/">Sebastián Martorell</a>
    </div>
    <div class="desc">Full-Stack Developer</div>
    <div class="desc">Desarollo Páginas Web</div>
    <div class="desc">Analisis Informático</div>
  </div>
  <div class="bottom">
    <a target="_blank" class="icon" href="https://linkedin.com/sebasmartorell">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="icon" href="https://twitter.com/bizcochoasesino" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="icon" rel="publisher" href="https://plus.google.com/108977052379490512475" target="_blank">
      <i class="fa fa-google-plus"></i>
    </a>
    <a class="icon" rel="publisher" href="https://facebook.com/sebas.martorell" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
</div>

</div>